/* Box sizing rules */
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  min-width: 320px; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

a, a:active, a:focus {
  outline: none;
  /* Works in Firefox, Chrome, IE8 and above */ }

.navlink-active {
  transform: scale(1.2); }
  .navlink-active:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%; }
  .navlink-active--span {
    font-size: 1.3rem; }

.component__top-navbar-except-home {
  background-color: var(--background-color-darkest);
  background-image: linear-gradient(135deg, #19181a, #5a595e);
  margin: 0;
  display: flex;
  width: 100%; }
  .component__top-navbar-except-home--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    text-align: center; }
    .component__top-navbar-except-home--left--logo {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 4rem;
      color: #eee; }
    .component__top-navbar-except-home--left--sublogo {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      margin-top: -2rem;
      color: #dd9323; }
    @media only screen and (max-width: 800px) {
      .component__top-navbar-except-home--left {
        width: 80%;
        text-align: left;
        margin-left: 30px; }
        .component__top-navbar-except-home--left--logo {
          margin-left: 26px; } }
    @media only screen and (max-width: 360px) {
      .component__top-navbar-except-home--left--logo {
        font-size: 3.6em;
        margin-left: 12px; }
      .component__top-navbar-except-home--left--sublogo {
        font-size: 2.4em; } }
  .component__top-navbar-except-home--right {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .component__top-navbar-except-home--right {
        justify-content: flex-end;
        align-items: center;
        width: 20%; } }
    .component__top-navbar-except-home--right--navbar {
      z-index: 1;
      list-style: none;
      font-family: var(--text-raleway);
      font-size: 2.2rem;
      color: var(--text-light-gray);
      display: flex;
      width: 100%;
      justify-content: space-around;
      text-transform: lowercase; }
      @media only screen and (max-width: 800px) {
        .component__top-navbar-except-home--right--navbar {
          display: none; } }
      .component__top-navbar-except-home--right--navbar--li a {
        display: inline-block;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        color: var(--text-light-gray);
        transition: all 0.2s ease; }
      .component__top-navbar-except-home--right--navbar--li a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0; }
      .component__top-navbar-except-home--right--navbar--li:after:hover {
        width: 100%; }
      .component__top-navbar-except-home--right--navbar--li a:hover {
        transform: scale(1.03); }
      .component__top-navbar-except-home--right--navbar--li a:hover:after {
        width: 100%;
        left: 0; }
      .component__top-navbar-except-home--right--navbar--li a:active {
        transform: translateY(2px); }
      .component__top-navbar-except-home--right--navbar--li--dropdown {
        position: relative;
        display: inline-block; }
        .component__top-navbar-except-home--right--navbar--li--dropdown--btn--no-hover {
          border: none;
          background: none;
          font-family: var(--text-raleway);
          font-size: 2.2rem;
          color: var(--text-light-gray);
          cursor: pointer; }
        .component__top-navbar-except-home--right--navbar--li--dropdown--content {
          opacity: 0;
          position: absolute;
          left: 3px;
          background-color: #2f2f31;
          margin-top: 10px;
          border-radius: 0 0px 3px 3px;
          min-width: 100%;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          transition: all 0.3s;
          z-index: 1; }
          .component__top-navbar-except-home--right--navbar--li--dropdown--content a {
            padding: 12px 16px;
            text-decoration: none;
            display: block; }
        .component__top-navbar-except-home--right--navbar--li--dropdown:hover .component__top-navbar-except-home--right--navbar--li--dropdown--content {
          opacity: 1; }

.contact-popup {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .contact-popup:target {
    opacity: 1;
    visibility: visible; }
  .contact-popup__content {
    width: 75%;
    height: 30rem;
    background-color: #d6d6d6;
    box-shadow: 2px 4px 10px rgba(68, 68, 68, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: flex;
    justify-content: center; }
    .contact-popup__content--close:link, .contact-popup__content--close:visited {
      color: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0rem;
      right: 1.5rem;
      font-size: 4rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s; }
    .contact-popup__content--close:hover {
      color: var(--text-gold); }
    .contact-popup__content--link {
      font-family: var(--text-source-sans);
      font-style: normal;
      font-weight: 600;
      align-self: center;
      font-size: 3.4rem;
      color: var(--text-gold);
      cursor: pointer;
      padding-right: 5rem; }
      @media only screen and (max-width: 800px) {
        .contact-popup__content--link {
          font-size: 2.4rem;
          padding-right: 0; } }

.hidden-navbar {
  display: none; }
  @media only screen and (max-width: 970px) {
    .hidden-navbar {
      display: flex; } }

.mobile-nav__nav-container {
  z-index: 99;
  display: none; }
  @media only screen and (max-width: 800px) {
    .mobile-nav__nav-container {
      display: block; } }

.mobile-nav__nav-container * {
  visibility: visible; }

.mobile-nav__button {
  position: relative;
  display: flex;
  outline: none;
  margin-right: 30px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mobile-nav__icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #f0f0f0;
  transition: 0.3s; }

.mobile-nav__icon-bar + .mobile-nav__icon-bar {
  margin-top: 5px; }

.mobile-nav__nav-content {
  opacity: 0;
  visibility: hidden;
  margin-top: 70px;
  padding: 20px;
  width: 50vw;
  max-width: 300px;
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  height: 65em;
  z-index: 99;
  background: linear-gradient(199.22deg, #19181a 90%, rgba(34, 29, 38, 0) 100%);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint; }

.mobile-nav__nav-content li:not(.small) + .small {
  margin-top: auto; }

.mobile-nav__nav-content--ul {
  display: flex;
  flex-direction: column;
  text-align: right; }

.mobile-nav__nav-content--li {
  font-size: 3.4em;
  padding: 0.4em;
  font-family: var(--text-raleway); }

.mobile-nav__nav-content--link {
  color: #ebebeb;
  text-decoration: none; }

.navlink-active--mobile-nav {
  transform: scale(1.2);
  color: var(--text-gold); }

.footer {
  align-self: end;
  justify-self: center;
  font-family: var(--text-source-sans);
  text-align: center;
  font-size: 1.8rem;
  color: rgba(221, 221, 221, 0.7);
  padding-bottom: 2rem; }

.footer--home {
  background-color: transparent;
  grid-column: col-start 1 / col-end -1; }

.footer--media-records {
  grid-column: col-start 1 / col-end -1; }

.footer--galery {
  grid-column: col-start 1 / col-end -1; }

.watch-and-listen__cd--top-mobile {
  display: none; }
  @media only screen and (max-width: 970px) {
    .watch-and-listen__cd--top-mobile {
      display: flex;
      justify-content: center;
      align-items: center; } }

.watch-and-listen__cd--top-mobile--img:hover {
  opacity: 0.7; }

/* The Modal (background) */
.full-screen-image-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.full-screen-image-modal-content {
  backface-visibility: hidden;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s; }

/* Add Animation */
.full-screen-image-modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.2s;
  animation-name: zoom;
  animation-duration: 0.2s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0);
    transform: translate(0, 0); }
  to {
    transform: scale(1);
    transform: translate(-50%, -50%); } }

/* The Close Button */
.full-screen-image-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 22; }

.full-screen-image-close:hover,
.full-screen-image-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .full-screen-image-modal-content {
    width: 100%; } }

.image-focus-grow:hover, .image-focus-grow:focus {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px #5f5f5f; }

.hero-audioplayer {
  border-radius: 0;
  position: fixed;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  display: block;
  width: 100vw;
  transition: all 0.3s ease-in-out; }
  .hero-audioplayer__close-btn-container {
    display: inline-block;
    margin-left: 22px;
    z-index: 2; }
  .hero-audioplayer--close-btn {
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.6;
    color: #7a7a7a;
    font-family: var(--text-source-sans);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s; }
  .hero-audioplayer--player {
    width: 100%;
    height: 40px;
    opacity: 0.5;
    outline-style: none;
    outline-color: #5a595e; }

.hero {
  max-height: 90vh;
  background: #f3f3f3;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: minmax(300px, 380px) minmax(600px, 1fr);
  overflow: hidden; }
  @media only screen and (max-width: 970px) {
    .hero {
      grid-template-columns: 1fr;
      grid-template-rows: 10rem 80rem; } }
  @media only screen and (max-width: 425px) {
    .hero {
      max-height: 66vh; } }

.hero__sidebar {
  background-color: var(--background-color-darkest);
  background-image: linear-gradient(135deg, #19181a, #5a595e);
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 2;
  box-shadow: 0 3px 10px 20px #252429; }
  @media only screen and (max-width: 970px) {
    .hero__sidebar {
      display: none; } }
  .hero__sidebar__listen-now {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-top: -80px; }
    .hero__sidebar__listen-now--heading {
      grid-column: 1 / span 2;
      margin-top: 9.4rem;
      margin-bottom: 3rem;
      text-align: left;
      margin-left: 3rem;
      color: white;
      font-family: var(--text-raleway);
      font-size: 2.6rem;
      font-weight: 600;
      position: relative;
      z-index: 2; }
    .hero__sidebar__listen-now--performer {
      color: white;
      grid-column: 1 / span 2;
      text-align: left;
      margin-left: 3rem;
      font-size: 2.3rem;
      position: relative;
      z-index: 2; }
    .hero__sidebar__listen-now--image {
      position: absolute;
      bottom: 5rem;
      left: 15rem;
      transform: scale(1.9);
      z-index: 1;
      grid-row: 1 / span 2;
      grid-column: 2 / span 2; }
    .hero__sidebar__listen-now--btn {
      font-family: var(--text-source-sans);
      font-size: 3.2rem;
      padding: 0.5rem 2rem;
      border-radius: 3px;
      background-color: #5d5b60;
      display: inline-block;
      color: var(--text-gold);
      margin-top: 3rem;
      cursor: pointer; }
      .hero__sidebar__listen-now--btn:hover {
        background-color: rgba(255, 255, 255, 0.05);
        text-shadow: black; }
      .hero__sidebar__listen-now--btn:active {
        transform: translateY(2px); }

.hero__right {
  overflow: hidden;
  position: relative;
  background-image: url("../img/sophie-lucke-minified.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .hero__right__cover-hero-mobile-img {
    display: none; }
  @media only screen and (min-width: 1350px) {
    .hero__right {
      background-image: url("../img/sophie-cover-pictures/sophie-medium-wide-minified.jpg"); } }
  @media only screen and (max-width: 425px) {
    .hero__right {
      background-image: none; }
    .hero__right__cover-hero-mobile-img {
      position: absolute;
      display: block;
      top: 45px;
      left: -15px;
      transform: scale(1.25); } }

.upcoming-concerts-section-container {
  grid-column: full-start / full-end;
  background-color: #f3f3f3;
  height: auto;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  text-align: center; }
  @media only screen and (max-width: 460px) {
    .upcoming-concerts-section-container {
      margin-bottom: -7rem; } }

.upcoming-concerts__btn-container {
  grid-column: col-start 3 / -3;
  display: flex;
  justify-content: space-between;
  height: auto;
  text-align: center;
  margin-bottom: 12rem; }

.mb-small {
  margin-bottom: 5rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-3 {
  margin-top: 3rem; }

.mb-5 {
  margin-bottom: 5rem; }

.text-right {
  text-align: right; }

.hidden {
  display: none; }

.hidden-animatable {
  opacity: 0;
  visibility: hidden; }

.mb-n3 {
  margin-bottom: -3rem; }

.position-relative {
  position: relative; }

.text-center {
  text-align: center; }

.extra-margins {
  margin-bottom: 3rem;
  margin-top: 5rem; }
  @media only screen and (max-width: 970px) {
    .extra-margins {
      margin-bottom: 1.5rem !important;
      margin-top: 3rem !important; } }
  @media only screen and (max-width: 460px) {
    .extra-margins {
      margin-bottom: 0rem !important;
      margin-top: 2rem !important; } }

.full-width {
  width: 100%; }

.bio {
  background: linear-gradient(132.56deg, rgba(27, 21, 21, 0.58) 0%, rgba(15, 21, 75, 0.05) 100%);
  position: relative;
  height: 108rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .bio__header {
    margin-top: 3rem;
    grid-column: col-start 1 / -1;
    color: #e9e9e9;
    font-family: var(--text-source-sans);
    font-weight: 600;
    font-size: 6.4rem;
    display: inline-block;
    height: 10rem; }
    @media only screen and (max-width: 970px) {
      .bio__header {
        margin-top: 6rem;
        font-size: 5.4rem; } }
    @media only screen and (max-width: 460px) {
      .bio__header {
        font-size: 4.3rem; } }
  .bio__tabs {
    width: 80%;
    position: relative;
    text-align: left; }
    .bio__tabs__li {
      float: left;
      display: block; }
      .bio__tabs__li input[type="radio"] {
        position: absolute;
        top: 0;
        left: -9999px; }
      .bio__tabs__li input[type="radio"]:not(:checked) + label {
        background: #ddd; }
      .bio__tabs__li input[type="radio"]:checked + label {
        color: #5c5a60;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        font-family: var(--text-source-sans);
        font-style: normal;
        font-weight: 600;
        font-size: 2.6rem;
        text-decoration: none; }
      .bio__tabs__li--label {
        display: block;
        padding: 1.2rem 2.1rem;
        border-radius: 2px 2px 0 0;
        font-family: Lato;
        font-size: 2.3rem;
        font-weight: 700;
        color: var(--text-gold);
        letter-spacing: 0.3rem;
        text-decoration: underline;
        text-transform: uppercase;
        background: white;
        cursor: pointer;
        position: relative;
        top: 4px; }
        .bio__tabs__li--label:hover {
          transform: translateY(-2px); }
      .bio__tabs__li--tab-content {
        background: white;
        z-index: 2;
        display: none;
        overflow: hidden;
        width: 100%;
        max-height: 70rem;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 2.3rem;
        line-height: 3.6rem;
        padding: 4rem;
        position: absolute;
        top: 5.3rem;
        left: 0;
        text-align: justify; }
      .bio__tabs__li--tab-content::before {
        z-index: 4;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(transparent 15rem, white); }
    .bio__tabs [id^="tab"]:checked + label {
      top: 0;
      padding-top: .9rem; }
    .bio__tabs [id^="tab"]:checked ~ [id^="tab-content"] {
      display: block; }

.galery-image--1 {
  grid-column: col-start 2 / col-end 5;
  grid-row: row-start 2 / row-end 8;
  overflow: hidden;
  transition: all 0.3s ease-in;
  background-image: url("../img/galery/42A0934-minified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.galery-image--2 {
  overflow: hidden;
  grid-column: col-start 6 / col-end 8;
  grid-row: row-start 2 / row-end 4;
  transition: all 0.3s ease-in;
  background-image: url("../img/galery/14700745_10208929141558352_1767394398515383186_o-minified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.galery-image--3 {
  overflow: hidden;
  grid-column: col-start 9 / col-end 11;
  grid-row: row-start 2 / row-end 4;
  transition: all 0.3s ease-in;
  background-image: url("../img/galery/IMG_3546-minified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.galery-image--4 {
  overflow: hidden;
  grid-column: col-start 6 / col-end 11;
  grid-row: row-start 5 / row-end 8;
  transition: all 0.3s ease-in;
  background-image: url("../img/galery/14344227_1278549945502120_5390873153939167157_n-minified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media only screen and (max-width: 770px) {
  .galery-image--1 {
    grid-column: col-start 2 / col-end 6;
    grid-row: row-start 5 / row-end 8;
    overflow: hidden;
    transition: all 0.3s ease-in;
    background-image: url("../img/galery/42A0934-minified.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .galery-image--2 {
    overflow: hidden;
    grid-column: col-start 2 / col-end 11;
    grid-row: row-start 2 / row-end 4;
    background-image: url("../img/sophie-bg-pages-minified.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .galery-image--3 {
    display: none; }
  .galery-image--4 {
    overflow: hidden;
    grid-column: col-start 7 / col-end 11;
    grid-row: row-start 5 / row-end 8;
    background-image: url("../img/galery/14700745_10208929141558352_1767394398515383186_o-minified.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; } }

.galery {
  grid-column: full-start / full-end;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  text-align: center; }
  .galery__btn-container {
    overflow: hidden;
    grid-column: col-start 2 / col-end -2;
    grid-row: row-start 9 / row-end 10; }
  .galery__container {
    position: relative;
    grid-column: col-start 2 / col-end 11;
    height: 60vh;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-rows: repeat(9, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
    column-gap: 1.3rem;
    row-gap: 1.3rem;
    margin-bottom: 10rem; }
    @media only screen and (min-width: 1200px) {
      .galery__container {
        height: 80vh; } }

.swiper-container {
  margin-top: 1rem;
  margin-bottom: 30rem;
  /* height: 500px; */
  width: 80%;
  max-width: 350px;
  background: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 100; }

.swiper-wrapper {
  height: auto !important; }

.swiper-slide {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  height: auto !important; }

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23eeeeee'%2F%3E%3C%2Fsvg%3E") !important; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23eeeeee'%2F%3E%3C%2Fsvg%3E") !important; }

.swiper-modal {
  position: fixed;
  /* Stay in place */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

.swiper-container--close {
  font-size: 4rem;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0.7);
  padding-left: 5rem;
  padding-bottom: 5rem;
  position: absolute;
  right: 14px;
  cursor: pointer;
  z-index: 200;
  color: #515055; }

.carousel {
  background: #fcfcfc; }

.carousel-cell {
  width: 100%;
  max-width: fit-content;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  display: flex;
  align-items: flex-start; }

:root {
  --text-source-sans: "Source Sans Pro", sans-serif;
  --text-raleway: Raleway, sans-serif; }

html {
  font-family: var(--text-source-sans); }

.section-header__past-concerts {
  margin-top: 3rem;
  color: #f3f3f3;
  font-family: var(--text-source-sans);
  font-weight: 600;
  font-size: 4rem;
  opacity: 0.87;
  display: inline-block; }

.section-header {
  margin-top: 3rem;
  grid-column: col-start 1 / -1;
  font-family: var(--text-source-sans);
  font-weight: 600;
  font-size: 6.4rem;
  display: inline-block;
  height: 10rem; }
  @media only screen and (max-width: 970px) {
    .section-header {
      margin-top: 6rem;
      font-size: 5.4rem; } }
  @media only screen and (max-width: 460px) {
    .section-header {
      font-size: 4.3rem; } }
  .section-header--page-upcoming-concerts {
    margin-top: 5rem;
    color: #f3f3f3ea;
    font-size: 4.6rem;
    height: 10rem; }
    @media only screen and (max-width: 970px) {
      .section-header--page-upcoming-concerts {
        margin-top: 6rem;
        font-size: 5.4rem; } }
    @media only screen and (max-width: 460px) {
      .section-header--page-upcoming-concerts {
        font-size: 3.3rem;
        margin-top: 3rem;
        margin-bottom: -5rem; } }
  .section-header--dark {
    color: #5c5a60; }
  .section-header--light-gray {
    color: var(--text-light-gray); }
  .section-header--light {
    color: #e9e9e9; }

.text-primary-semibold__dark {
  font-weight: 600;
  color: #5f5f5f; }
  .text-primary-semibold__dark--no-border {
    border-right: none !important;
    margin-right: 0 !important;
    padding-right: 0 !important; }
  .text-primary-semibold__dark--small {
    font-size: 2rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--small {
        font-size: 2.6rem;
        margin-right: 2rem;
        padding-right: 2rem;
        border-right: solid 2px #dadde6; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--small {
        font-size: 2rem; } }
  .text-primary-semibold__dark--medium {
    font-size: 2.3rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--medium {
        font-size: 2.6rem;
        margin-right: 2rem;
        padding-right: 2rem;
        border-right: solid 2px #dadde6; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--medium {
        font-size: 2rem; } }
  .text-primary-semibold__dark--medium-large {
    font-size: 2.8rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--medium-large {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--medium-large {
        font-size: 2rem; } }
  .text-primary-semibold__dark--large {
    font-size: 3.6rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--large {
        font-size: 2.6rem;
        margin-right: 2rem;
        padding-right: 2rem;
        border-right: solid 2px #dadde6; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--large {
        font-size: 2rem; } }
  .text-primary-semibold__dark--concerthall {
    font-size: 2rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--concerthall {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--concerthall {
        font-size: 2.2rem; } }
    .text-primary-semibold__dark--concerthall--homepage {
      font-size: 3.6rem; }
      @media only screen and (max-width: 970px) {
        .text-primary-semibold__dark--concerthall--homepage {
          font-size: 2.6rem; } }
      @media only screen and (max-width: 460px) {
        .text-primary-semibold__dark--concerthall--homepage {
          font-size: 2.2rem; } }
  .text-primary-semibold__dark--piece {
    font-size: 3rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--piece {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--piece {
        font-size: 2.2rem; } }
    .text-primary-semibold__dark--piece--homepage {
      font-size: 4.8rem; }
      @media only screen and (max-width: 970px) {
        .text-primary-semibold__dark--piece--homepage {
          font-size: 2.8rem; } }
      @media only screen and (max-width: 460px) {
        .text-primary-semibold__dark--piece--homepage {
          font-size: 2.2rem; } }
  .text-primary-semibold__dark--note {
    font-size: 2.3rem; }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--note {
        font-size: 1.6rem; } }

.text-secondary-thin {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 2.3rem;
  line-height: 3.6rem;
  text-align: justify; }
  @media only screen and (max-width: 550px) {
    .text-secondary-thin {
      font-size: 2.1rem; } }

.container__content--page-concerts {
  text-align: center;
  width: 60%;
  margin: 0 auto; }
  @media only screen and (max-width: 970px) {
    .container__content--page-concerts {
      width: 80%;
      margin: 0 auto; } }
  @media only screen and (max-width: 470px) {
    .container__content--page-concerts {
      width: 90%;
      margin: 0 auto; } }

.event-container {
  margin: 3rem 0;
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 70%;
  position: relative; }
  @media only screen and (max-width: 970px) {
    .event-container {
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  .event-container--concerts-page {
    min-height: 17rem; }
  .event-container--homepage {
    grid-column: col-start 3 / col-end 10;
    min-height: 23rem;
    grid-auto-flow: column;
    padding: 3rem; }
    @media only screen and (max-width: 970px) {
      .event-container--homepage {
        grid-column: col-start 2 / col-end -2; } }
  .event-container--past {
    opacity: 0.7; }

.event-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px dashed #dadde6; }
  @media only screen and (max-width: 970px) {
    .event-date-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-right: none;
      margin-bottom: 2rem; } }

.event-description-container {
  min-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; }
  @media only screen and (max-width: 970px) {
    .event-description-container {
      text-align: center; } }

@media only screen and (max-width: 460px) {
  .event-description-container--homepage {
    grid-column: col-start 2 / col-end -2; } }

.cd-card {
  padding: 3rem;
  height: auto;
  min-height: 38rem;
  background: #f3f3f3;
  box-shadow: 0px 4px 10px #5f5f5f;
  border-radius: 5px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 60%;
  grid-column: col-start 2 / col-end -2; }
  @media only screen and (max-width: 970px) {
    .cd-card {
      display: flex;
      flex-direction: column; } }
  .cd-card--homepage {
    margin-bottom: 10rem; }
    @media only screen and (min-width: 1900px) {
      .cd-card--homepage {
        min-height: 50rem; } }

.cd-card__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  margin: 0 auto; }

.cd-title {
  font-style: normal;
  font-weight: bold;
  color: #3a3737;
  text-align: center; }
  .cd-title--records-page {
    font-size: 3.2rem; }
    @media only screen and (max-width: 970px) {
      .cd-title--records-page {
        margin-top: 4rem;
        font-size: 3rem; } }
  .cd-title--homepage {
    font-size: 3.6rem; }
    @media only screen and (max-width: 970px) {
      .cd-title--homepage {
        margin-top: 4rem;
        font-size: 3rem; } }

.cd-subtitle {
  font-style: normal;
  font-weight: 600;
  color: #3a3737; }
  .cd-subtitle--records-page {
    font-size: 2.2rem; }
    @media only screen and (max-width: 970px) {
      .cd-subtitle--records-page {
        font-size: 2rem; } }
  .cd-subtitle--homepage {
    font-size: 2.4rem; }
    @media only screen and (max-width: 970px) {
      .cd-subtitle--homepage {
        font-size: 2rem; } }

.cd-performers {
  font-style: normal;
  font-weight: normal;
  color: #5f5f5f; }
  .cd-performers--records-page {
    font-size: 2.1rem;
    line-height: 3.5rem; }
    @media only screen and (max-width: 970px) {
      .cd-performers--records-page {
        font-size: 1.9rem;
        line-height: 2.5rem; } }
  .cd-performers--homepage {
    font-size: 2.1rem;
    line-height: 3.5rem; }
    @media only screen and (max-width: 970px) {
      .cd-performers--homepage {
        font-size: 1.9rem;
        line-height: 2.5rem; } }

.cd-city {
  font-style: normal;
  font-weight: 600;
  color: #3a3737; }
  .cd-city--records-page {
    font-size: 2.4rem; }
    @media only screen and (max-width: 970px) {
      .cd-city--records-page {
        font-size: 2rem; } }
  .cd-city--homepage {
    font-size: 2.4rem; }
    @media only screen and (max-width: 970px) {
      .cd-city--homepage {
        font-size: 2rem; } }

.cd-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem 2rem 0; }
  @media only screen and (max-width: 970px) {
    .cd-btn-container {
      justify-content: space-between;
      padding: 2rem 2rem 2rem 0; } }

.cd-image__container {
  position: relative; }
  @media only screen and (max-width: 970px) {
    .cd-image__container {
      display: none; } }

.cd-image__front {
  position: absolute;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
  transition: all 0.3s ease-in-out; }
  .cd-image__front--records-page {
    z-index: 6;
    top: 0rem;
    left: 12rem;
    width: 44%; }
    .cd-image__front--records-page:hover {
      transform: scale(1.04);
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.6)); }
  .cd-image__front--homepage {
    z-index: 6;
    top: 0rem;
    left: 12rem;
    width: 54%; }
    .cd-image__front--homepage:hover {
      transform: scale(1.04);
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.6)); }
  @media only screen and (max-width: 970px) {
    .cd-image__front {
      display: none; } }

.cd-image__back {
  position: absolute;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
  transition: all 0.3s ease-in-out; }
  .cd-image__back--records-page {
    z-index: 1;
    width: 40%;
    top: 8rem; }
    .cd-image__back--records-page:hover {
      transform: scale(1.5);
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.6));
      z-index: 7; }
  .cd-image__back--homepage {
    z-index: 1;
    width: 50%;
    top: 8rem; }
    .cd-image__back--homepage:hover {
      transform: scale(1.5);
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.6));
      z-index: 7; }

.cd-image-mobile {
  display: none; }
  @media only screen and (max-width: 970px) {
    .cd-image-mobile {
      display: block;
      width: 60%;
      margin: 0 auto; } }

.youtube-feature__container--records-page {
  grid-column: col-start 3 / col-end -3;
  text-align: center; }

.youtube-feature__container--homepage {
  grid-column: col-start 2 / col-end -2;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.youtube-feature__header {
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  color: white; }
  @media only screen and (max-width: 970px) {
    .youtube-feature__header {
      font-size: 3rem; } }
  @media only screen and (max-width: 460px) {
    .youtube-feature__header {
      font-size: 2.6rem; } }

.youtube-feature__subheader {
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  color: white; }
  @media only screen and (max-width: 970px) {
    .youtube-feature__subheader {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 460px) {
    .youtube-feature__subheader {
      font-size: 2.8rem; } }

.youtube-feature__text {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  color: white;
  margin-bottom: 12rem; }
  @media only screen and (max-width: 970px) {
    .youtube-feature__text {
      font-size: 2.4rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 460px) {
    .youtube-feature__text {
      font-size: 2.4rem;
      margin-bottom: 3rem; } }

.youtube-feature__video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
  box-shadow: 0px 4px 10px rgba(161, 161, 161, 0.1); }
  @media only screen and (max-width: 970px) {
    .youtube-feature__video-wrapper {
      margin-bottom: 10rem; } }

.youtube-feature__video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.audio-record__container {
  grid-column: col-start 4 / col-end -4;
  padding: 3rem;
  height: auto;
  background: white;
  box-shadow: 0px 4px 10px #5f5f5f;
  border-radius: 10px; }
  @media only screen and (max-width: 800px) {
    .audio-record__container {
      grid-column: col-start 2 / col-end -2; } }
  .audio-record__container--margin-bottom {
    margin-bottom: 10rem; }

.audio-record__text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 970px) {
    .audio-record__text-container {
      display: flex;
      flex-direction: column; } }

.audio-record__heading {
  display: inline-block;
  width: 50%;
  align-self: center;
  color: #3a3737;
  font-size: 2.6rem;
  font-weight: 600;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 970px) {
    .audio-record__heading {
      display: block;
      width: 100%;
      font-size: 2.3rem; } }

.audio-record__artists-container {
  margin: 1rem auto; }
  @media only screen and (max-width: 970px) {
    .audio-record__artists-container {
      display: block;
      width: 100%; } }

.audio-record__artist-name {
  color: #3a3737;
  font-size: 2.3rem;
  padding: 0.3rem; }
  @media only screen and (max-width: 970px) {
    .audio-record__artist-name {
      font-size: 2.1rem;
      padding: 0.3rem; } }

.audio-record__audio-player {
  width: 100%; }

.flex-card {
  display: flex;
  border-radius: 3px;
  margin-bottom: 4rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); }
  .flex-card__wide {
    width: 100%; }
    .flex-card__wide--medium-dark {
      background: #f0f0f0; }
    .flex-card__wide--dark {
      background: #e2e2e2; }
    .flex-card__wide--light {
      background: #fcfcfc; }
  @media only screen and (max-width: 970px) {
    .flex-card {
      flex-direction: column; } }

.youtube-video__container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.youtube-video--centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 460px) {
    .youtube-video--centered {
      width: 230px; } }

.simple-link {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--text-gold);
  cursor: pointer;
  padding-right: 5rem; }
  @media only screen and (max-width: 970px) {
    .simple-link {
      font-size: 2.2rem; } }

.news-date {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0; }
  .news-date__text {
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem; }
  @media only screen and (max-width: 970px) {
    .news-date {
      width: 60%;
      align-self: center;
      padding: 3rem 0 1rem;
      border-bottom: dashed 1px rgba(0, 0, 0, 0.3);
      border-width: 2px; } }

.news-content {
  position: relative;
  display: flex;
  width: 60%;
  flex-direction: column;
  text-align: left;
  padding: 5rem 5rem; }
  @media only screen and (max-width: 970px) {
    .news-content {
      padding-right: 2rem; } }
  .news-content__text {
    font-style: normal;
    font-weight: 400;
    width: 100%;
    text-align: justify;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-bottom: 10px;
    color: #5c5a60; }
    @media only screen and (max-width: 970px) {
      .news-content__text {
        font-size: 2.3rem; } }
  @media only screen and (max-width: 970px) {
    .news-content {
      width: 100%;
      padding: 3rem 5rem; } }

:root {
  --text-source-sans: "Source Sans Pro", sans-serif;
  --text-raleway: Raleway, sans-serif; }

html {
  font-family: var(--text-source-sans); }

.section-header__past-concerts {
  margin-top: 3rem;
  color: #f3f3f3;
  font-family: var(--text-source-sans);
  font-weight: 600;
  font-size: 4rem;
  opacity: 0.87;
  display: inline-block; }

.section-header {
  margin-top: 3rem;
  grid-column: col-start 1 / -1;
  font-family: var(--text-source-sans);
  font-weight: 600;
  font-size: 6.4rem;
  display: inline-block;
  height: 10rem; }
  @media only screen and (max-width: 970px) {
    .section-header {
      margin-top: 6rem;
      font-size: 5.4rem; } }
  @media only screen and (max-width: 460px) {
    .section-header {
      font-size: 4.3rem; } }
  .section-header--page-upcoming-concerts {
    margin-top: 5rem;
    color: #f3f3f3ea;
    font-size: 4.6rem;
    height: 10rem; }
    @media only screen and (max-width: 970px) {
      .section-header--page-upcoming-concerts {
        margin-top: 6rem;
        font-size: 5.4rem; } }
    @media only screen and (max-width: 460px) {
      .section-header--page-upcoming-concerts {
        font-size: 3.3rem;
        margin-top: 3rem;
        margin-bottom: -5rem; } }
  .section-header--dark {
    color: #5c5a60; }
  .section-header--light-gray {
    color: var(--text-light-gray); }
  .section-header--light {
    color: #e9e9e9; }

.text-primary-semibold__dark {
  font-weight: 600;
  color: #5f5f5f; }
  .text-primary-semibold__dark--no-border {
    border-right: none !important;
    margin-right: 0 !important;
    padding-right: 0 !important; }
  .text-primary-semibold__dark--small {
    font-size: 2rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--small {
        font-size: 2.6rem;
        margin-right: 2rem;
        padding-right: 2rem;
        border-right: solid 2px #dadde6; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--small {
        font-size: 2rem; } }
  .text-primary-semibold__dark--medium {
    font-size: 2.3rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--medium {
        font-size: 2.6rem;
        margin-right: 2rem;
        padding-right: 2rem;
        border-right: solid 2px #dadde6; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--medium {
        font-size: 2rem; } }
  .text-primary-semibold__dark--medium-large {
    font-size: 2.8rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--medium-large {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--medium-large {
        font-size: 2rem; } }
  .text-primary-semibold__dark--large {
    font-size: 3.6rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--large {
        font-size: 2.6rem;
        margin-right: 2rem;
        padding-right: 2rem;
        border-right: solid 2px #dadde6; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--large {
        font-size: 2rem; } }
  .text-primary-semibold__dark--concerthall {
    font-size: 2rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--concerthall {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--concerthall {
        font-size: 2.2rem; } }
    .text-primary-semibold__dark--concerthall--homepage {
      font-size: 3.6rem; }
      @media only screen and (max-width: 970px) {
        .text-primary-semibold__dark--concerthall--homepage {
          font-size: 2.6rem; } }
      @media only screen and (max-width: 460px) {
        .text-primary-semibold__dark--concerthall--homepage {
          font-size: 2.2rem; } }
  .text-primary-semibold__dark--piece {
    font-size: 3rem; }
    @media only screen and (max-width: 970px) {
      .text-primary-semibold__dark--piece {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--piece {
        font-size: 2.2rem; } }
    .text-primary-semibold__dark--piece--homepage {
      font-size: 4.8rem; }
      @media only screen and (max-width: 970px) {
        .text-primary-semibold__dark--piece--homepage {
          font-size: 2.8rem; } }
      @media only screen and (max-width: 460px) {
        .text-primary-semibold__dark--piece--homepage {
          font-size: 2.2rem; } }
  .text-primary-semibold__dark--note {
    font-size: 2.3rem; }
    @media only screen and (max-width: 460px) {
      .text-primary-semibold__dark--note {
        font-size: 1.6rem; } }

.text-secondary-thin {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 2.3rem;
  line-height: 3.6rem;
  text-align: justify; }
  @media only screen and (max-width: 550px) {
    .text-secondary-thin {
      font-size: 2.1rem; } }

.flex-container__cenctered {
  display: flex;
  align-items: center;
  text-align: center; }
  .flex-container__cenctered--column {
    flex-direction: column; }

.grid-container-12-col {
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]); }
  .grid-container-12-col--news-page {
    grid-column: col-start 2  / col-end 11;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
  .grid-container-12-col--home-page {
    grid-column: col-start 2  / col-end 11;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
  .grid-container-12-col--homepage-records {
    grid-column: full-start / full-end; }

.box-container-lg__centered {
  width: 80%;
  margin: 0 auto;
  height: 100%; }
  @media only screen and (max-width: 550px) {
    .box-container-lg__centered {
      width: 90%; } }
  .box-container-lg__centered--bio-page {
    background: white;
    border-radius: 5px;
    padding: 4rem;
    margin-bottom: 4rem;
    z-index: 2; }
    @media only screen and (max-width: 470px) {
      .box-container-lg__centered--bio-page {
        margin-bottom: -10px; } }

.bio-page-btns-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding: 3rem 3rem 0 3rem;
  margin-top: -50px; }

.btn-small {
  color: #dd9323;
  display: inline-block;
  font-family: Lato;
  font-size: 2rem;
  align-self: flex-start;
  margin-top: 2rem; }
  .btn-small:hover {
    letter-spacing: 0.1rem;
    transform: scale(1.05); }
  .btn-small:active, .btn-small:focus {
    transform: translateY(2px); }
  @media only screen and (max-width: 970px) {
    .btn-small {
      align-self: center;
      margin-top: 1rem; } }

.btn-large-gold {
  display: inline-block;
  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text-gold);
  letter-spacing: 0.5rem;
  align-self: flex-end;
  padding: 2rem 4rem;
  border-radius: 3px; }
  .btn-large-gold:hover {
    background-color: rgba(221, 221, 221, 0.5);
    box-shadow: 0 3px 5px 10px rgba(221, 221, 221, 0.5);
    transform: scale(1.05); }
  .btn-large-gold:active {
    transform: translateY(3px); }
  @media only screen and (max-width: 970px) {
    .btn-large-gold {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      padding: 2rem 0rem;
      text-align: right; } }

.btn-large-dark {
  display: inline-block;
  font-family: Lato;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--background-color-darkest);
  align-self: flex-end;
  letter-spacing: 0.2rem; }
  .btn-large-dark:hover {
    background-color: rgba(221, 221, 221, 0.5);
    box-shadow: 0 3px 5px 10px rgba(221, 221, 221, 0.5);
    transform: scale(1.02); }
  .btn-large-dark:active {
    transform: translateY(3px); }
  @media only screen and (max-width: 970px) {
    .btn-large-dark {
      font-size: 1.6rem;
      letter-spacing: 0.3rem;
      padding: 2rem 0rem;
      text-align: left; } }

.btn-medium-gold {
  font-family: var(--text-source-sans);
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  transform: translateY(2px);
  color: var(--text-gold); }
  .btn-medium-gold:hover {
    background-color: rgba(221, 221, 221, 0.5);
    box-shadow: 0 3px 5px 10px rgba(221, 221, 221, 0.5);
    transform: scale(1.02); }
  .btn-medium-gold:active {
    transform: translateY(3px); }
  @media only screen and (max-width: 970px) {
    .btn-medium-gold {
      font-size: 2rem; } }

.btn-large-gold--show-bio {
  z-index: 10;
  position: absolute;
  top: 80rem;
  right: 0rem;
  padding: 1.5rem 6rem;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2); }

.biography-choose-lang-btn {
  display: inline-block;
  padding: 1.2rem 2.1rem;
  border-radius: 2px 2px 0 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
  transition: all 0.2s; }
  .biography-choose-lang-btn:hover {
    letter-spacing: 0.3rem;
    transform: scale(1.3); }
  .biography-choose-lang-btn:active {
    letter-spacing: 0.3rem;
    transform: none; }
  .biography-choose-lang-btn--active {
    color: var(--text-gold);
    font-size: 2.8rem; }
    .biography-choose-lang-btn--active:hover {
      letter-spacing: 0.3rem;
      transform: none; }
  .biography-choose-lang-btn--not-active {
    color: rgba(197, 197, 197, 0.7);
    align-self: flex-end;
    font-size: 1.8rem; }

.background--dark {
  background-color: #959399;
  background-image: linear-gradient(199.22deg, #19181a 0%, rgba(34, 29, 38, 0) 100%);
  height: auto;
  width: 100%; }

.background--lightest {
  background: #f3f3f3; }

.logo__brand {
  font-family: var(--text-source-sans);
  font-style: normal;
  font-weight: 600;
  color: #eee;
  cursor: pointer; }
  .logo__brand--hero-section {
    font-size: 5rem;
    margin-top: 2rem; }
  .logo__brand--general {
    font-size: 4rem; }
    @media only screen and (max-width: 800px) {
      .logo__brand--general {
        margin-left: 26px; } }
    @media only screen and (max-width: 360px) {
      .logo__brand--general {
        font-size: 3.6em;
        margin-left: 12px; } }

.logo__subtext {
  font-family: var(--text-raleway);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  color: var(--text-gold); }
  .logo__subtext--hero-section {
    font-size: 2.6rem;
    margin-top: -3rem;
    padding: 2rem; }
  .logo__subtext--general {
    font-size: 3rem;
    margin-top: -2rem; }
    @media only screen and (max-width: 360px) {
      .logo__subtext--general {
        font-size: 2.4em; } }

.hero-logo__wrapper {
  height: 70%; }

.hero__right__navbar {
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 1;
  list-style: none;
  font-family: var(--text-raleway);
  font-size: 2.2rem;
  color: var(--text-light-gray);
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-transform: lowercase; }
  @media only screen and (max-width: 970px) {
    .hero__right__navbar {
      display: none; } }
  .hero__right__navbar--li a {
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--text-light-gray);
    transition: all 0.2s ease; }
  .hero__right__navbar--li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .hero__right__navbar--li:after:hover {
    width: 100%; }
  .hero__right__navbar--li a:hover {
    transform: scale(1.03); }
  .hero__right__navbar--li a:hover:after {
    width: 100%;
    left: 0; }
  .hero__right__navbar--li a:active {
    transform: translateY(2px); }
  .hero__right__navbar--li--dropdown {
    position: relative;
    display: inline-block; }
    .hero__right__navbar--li--dropdown--btn--no-hover {
      border: none;
      background: none;
      font-family: var(--text-raleway);
      font-size: 2.2rem;
      color: var(--text-light-gray);
      cursor: pointer; }
    .hero__right__navbar--li--dropdown--content {
      opacity: 0;
      position: absolute;
      background-color: #2f2f31;
      border-radius: 0 0px 3px 3px;
      min-width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      transition: all 0.3s;
      z-index: 1; }
      .hero__right__navbar--li--dropdown--content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
    .hero__right__navbar--li--dropdown:hover .hero__right__navbar--li--dropdown--content {
      opacity: 1; }

.navlink-active {
  transform: scale(1.2); }
  .navlink-active:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%; }
  .navlink-active--span {
    font-size: 1.3rem; }

.hidden-navbar {
  display: none; }
  @media only screen and (max-width: 970px) {
    .hidden-navbar {
      display: flex; } }

:root {
  --background-color-darkest: #19181a;
  --text-light-gray: #ede9e2;
  --text-gold: #dd9323; }

button:focus {
  outline-color: currentColor;
  outline-style: inset; }

@media only screen and (max-width: 1460px) {
  html {
    font-size: 55.5%; } }

@media only screen and (max-width: 1300px) {
  html {
    font-size: 50.5%; } }

@media only screen and (max-width: 1150px) {
  html {
    font-size: 45.5%; } }

.container {
  display: grid;
  grid-template-rows: 1fr min-content repeat(5, min-content);
  grid-template-columns: [full-start] repeat(12, [col-start] 1fr [col-end]) [full-end]; }
