doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Sophie Lucke
        link(rel='stylesheet' href='https://unpkg.com/flickity@2/dist/flickity.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='js.js')
        link(rel='stylesheet' href='/css/style.css')
        //- script(src='https://iuriigav.github.io/Sophie-Lucke/dist/bundle.js')
    body 

  


      block content 

script(defer='' src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')


