extends base

block content 
    .container
        include homepage-components/hero.pug
        include homepage-components/upcoming-concerts.pug
        include homepage-components/watch-and-listen.pug
    include homepage-components/news.pug
    include homepage-components/biography.pug
    include homepage-components/gallery.pug

   

