.galery.background--dark
    h2.section-header.section-header--light-gray GALLERY
    .galery__container
        .galery-image--1.image-focus-grow
        .galery-image--2.image-focus-grow
        .galery-image--3.image-focus-grow
        .galery-image--4.image-focus-grow
        .galery__btn-container
            a.btn-large-gold(href='https://iuriigav.github.io/Sophie-Lucke/media-gallery.html') SEE ALL PHOTOS
    include ../includes/_footer.pug        