@import "../components/mixins";
@import "../components/typography";

// container__concerts

.container__content--page-concerts {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  @media only screen and (max-width: 970px) {
    & {
      width: 80%;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 470px) {
    & {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.event-container {
  margin: 3rem 0;
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 70%;
  position: relative;

  @media only screen and (max-width: 970px) {
    & {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &--concerts-page {
    min-height: 17rem;
  }

  &--homepage {
    grid-column: col-start 3 / col-end 10;
    min-height: 23rem;
    grid-auto-flow: column;
    padding: 3rem;
    @media only screen and (max-width: 970px) {
      grid-column: col-start 2 / col-end -2;

    }
  }
  &--past {
    opacity: 0.7;
  }
}

.event-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px dashed #dadde6;

  @media only screen and (max-width: 970px) {
    & {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-right: none;
      margin-bottom: 2rem;
    }
  }
}

.event-description-container {
  min-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  @media only screen and (max-width: 970px) {
    text-align: center;
  }
}

.event-description-container--homepage {
  @media only screen and (max-width: 460px) {
    grid-column: col-start 2 / col-end -2;
  }
}
