.background--dark { //instead of secondary-wrapper
    background-color: #959399;
   background-image: linear-gradient(
   199.22deg,
   #19181a 0%,
   rgba(34, 29, 38, 0) 100%
  );
  height: auto;
  width: 100%;
  }


  .background--lightest {
    background: #f3f3f3;
  }