@import "./mixins";



.contact-popup {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    width: 75%;
    height: 30rem;
    background-color: rgba(214, 214, 214, 1);
    box-shadow: 2px 4px 10px rgba(68, 68, 68, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: flex;
    justify-content: center;

    &--close {
      &:link,
      &:visited {
        color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0rem;
        right: 1.5rem;
        font-size: 4rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
      }

      &:hover {
        color: var(--text-gold);
      }
    }
    &--link {
      font-family: var(--text-source-sans);
      font-style: normal;
      font-weight: 600;

      align-self: center;
      font-size: 3.4rem;
      color: var(--text-gold);
      cursor: pointer;
      padding-right: 5rem;

      @media only screen and (max-width: 800px) {
        & {
          font-size: 2.4rem;
          padding-right: 0;
        }
      }
    }
  }
}





.footer {
  align-self: end;
  justify-self: center;
  // background-color: #1A191B;
  font-family: var(--text-source-sans);
  text-align: center;
  font-size: 1.8rem;
  color: rgba(221, 221, 221, 0.7);
  padding-bottom: 2rem;
}

.footer--home {
  background-color: transparent;
  grid-column: col-start 1 / col-end -1;
}

.footer--media-records {
  grid-column: col-start 1 / col-end -1;
}

.footer--galery {
  grid-column: col-start 1 / col-end -1;
}

//////////////////////////////full screen image

.watch-and-listen__cd--top-mobile--img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.full-screen-image-modal {
  display: none; /* Hidden by default */
  @include modal-over-page();
}

/* Modal Content (image) */
.full-screen-image-modal-content {
  backface-visibility: hidden;
  overflow: hidden;
  // margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

// /* Caption of Modal Image */
// #caption {
//   margin: auto;
//   display: block;
//   width: 80%;
//   max-width: 700px;
//   text-align: center;
//   color: #ccc;
//   padding: 10px 0;
//   height: 150px;
// }

/* Add Animation */
.full-screen-image-modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.2s;
  animation-name: zoom;
  animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
    transform: translate(0, 0);
  }
  to {
    transform: scale(1);
    transform: translate(-50%, -50%);
  }
}

/* The Close Button */
.full-screen-image-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 22;
}

.full-screen-image-close:hover,
.full-screen-image-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .full-screen-image-modal-content {
    width: 100%;
  }
}

.image-focus-grow {
  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px #5f5f5f;
  }
}
