@mixin typography-ticket-left($font-size) {
    font-family: var(--text-source-sans);
    font-weight: 600;
    font-size: $font-size;
    color: #5f5f5f;
  }//remove later when because tured into class
  

  //revrite section header into class
  @mixin section-header($color) {
    margin-top: 3rem;
    grid-column: col-start 1 / -1;
    color: $color;
    font-family:var(--text-source-sans);
    font-weight: 600;
    font-size: 6.4rem;
    display: inline-block;
    height: 10rem;
    @media only screen and (max-width: 970px) {
      & {
        margin-top: 6rem;
        font-size: 5.4rem;
      }
    }
    @media only screen and (max-width: 460px) {

      & {
        font-size: 4.3rem;
      }
    }
  }

  @mixin main-container-grid { //remove after rearange
    display: grid;
    grid-template-rows: 1fr min-content repeat(5, min-content);
    grid-template-columns:
      [full-start] repeat(12, [col-start] 1fr [col-end])
      [full-end];
  }

  @mixin twelve-col-grid {
    display: grid;
    // grid-template-rows: min-content min-content min-content;
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  }
  @mixin background-image-galery($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@mixin modal-over-page {
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

}