@import "../components/mixins.scss";

$tabs-base-color: white;

.bio {
  background: linear-gradient(
    132.56deg,
    rgba(27, 21, 21, 0.58) 0%,
    rgba(15, 21, 75, 0.05) 100%
  );
  position: relative;
  height: 108rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__header {
    @include section-header(rgb(233, 233, 233));
  }

  &__tabs {
    width: 80%;
    position: relative;
    text-align: left;

    &__li {
      float: left;
      display: block;

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: -9999px;
      }

      input[type="radio"]:not(:checked) + label {
        background: #ddd;
        // padding: 36px;
      }
      input[type="radio"]:checked + label {
        color: #5c5a60;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        font-family: var(--text-source-sans);
        font-style: normal;
        font-weight: 600;
        font-size: 2.6rem;
        text-decoration: none;
      }

      &--label {
        display: block;
        padding: 1.2rem 2.1rem;
        border-radius: 2px 2px 0 0;
        font-family: Lato;
        font-size: 2.3rem;
        font-weight: 700;
        color: var(--text-gold);
        letter-spacing: 0.3rem;
        text-decoration: underline;
        text-transform: uppercase;
        background: $tabs-base-color;
        cursor: pointer;
        position: relative;
        top: 4px;
        // transition: all 0.2s ease-in-out;
        &:hover {
          transform: translateY(-2px);
        }

       
      }


      &--tab-content {
        background: white;

        z-index: 2;
        display: none;
        overflow: hidden;
        width: 100%;
        max-height: 70rem;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 2.3rem;
        line-height: 3.6rem;
        padding: 4rem;
        position: absolute;
        top: 5.3rem;
        left: 0;
        text-align: justify;
      }

      &--tab-content::before {
        z-index: 4;
        content:'';
        width:100%;
        height:100%;    
        position:absolute;
        left:0;
        top:0;
        background:linear-gradient(transparent 15rem, white);
      }
    }

    [id^="tab"]:checked + label {
      top: 0;
      padding-top: .9rem;
      // background: darken($tabs-base-color, 15);
    }
    [id^="tab"]:checked ~ [id^="tab-content"] {
      display: block;
    }
  }
}

