@import "../components/mixins.scss";

.upcoming-concerts {
  grid-column: full-start / full-end;
  background-color: #f3f3f3;
  height: auto;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  // column-gap: 3rem;
  text-align: center;

  &__header {
    @include section-header(#5c5a60);
  }

  &__info {
    margin: 3rem 0;
    grid-column: col-start 3 / col-end 10;
    min-height: 23rem;
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 70%;
    padding: 3rem;
    position: relative;
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-right: 2px dashed #dadde6;
      &--date {
        @include typography-ticket-left(3.6rem);
      }
      &--time {
        @include typography-ticket-left(3.6rem);
      }
      &--city {
        @include typography-ticket-left(2.3rem);
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      text-align: left;
      min-width: 80%;
      margin: 0 auto;
      &--concerthall {
        @include typography-ticket-left(3.6rem);
      }

      &--piece {
        @include typography-ticket-left(4.8rem);
        &--span {
          font-size: 2.3rem;
        }
      }
    }
  }

  &__buttons {
    grid-column: col-start 3 / -3;
    display: flex;
    justify-content: space-between;
    // background-color: black;
    height: auto;
    text-align: center;
    margin-bottom: 12rem;
  }
}
