@import "../components/mixins.scss";


.upcoming-concerts-section-container {
  grid-column: full-start / full-end;
  background-color: #f3f3f3;
  height: auto;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  // column-gap: 3rem;
  text-align: center;
  @media only screen and (max-width: 460px) {

    & {
      margin-bottom: -7rem;
    }
  }
}


.upcoming-concerts__btn-container {
  grid-column: col-start 3 / -3;
  display: flex;
  justify-content: space-between;
  height: auto;
  text-align: center;
  margin-bottom: 12rem;   
}
