|                         Sophie L&uuml;cke received her first double bass lessons with Andreas Nettels in Wernigerode and as a junior student with Stephan Petzold. Later she studied with Janne Saksala in Berlin and in London with Rinat Ibragimov.
br
br
|                         Master classes with Esko Laine and David Sinclair, suggestions by Klaus Stoll, Nabil Shehata, Joel Quarrington and Evgeny Kolosov, as well as courses in historical performance practice with Kristin von der Goltz and Reinhard Goebel extended their musical views.
br
br
|                         At the age of 19 Sophie became an academist in the Berlin Radio Symphony Orchestra and from 2008 to 2010 she was a scholarship holder of the Karajan Academy of the Berlin Philharmonic. In addition to her permanent orchestral activity (guest Principal Bass in SWR Freiburg / Baden-Baden, WDR Cologne, Mahler Chamber Orchestra, Deutsche Kammerphilharmonie Bremen, Ensemble Resonance Hamburg , Ensemble Modern, Basel Chamber Orchestra, Les Dissonances , European Philharmonic of Switzerland, The Royal Northern Sinfonia, Scottish Chamber Orchestra, etc.), she is dedicated intensely chamber music and has performed with personalities such as Heinz Holliger, Kit Armstrong, Julien Pregardien, Esther Hoppe, Uli Witteler, Alexei Gerassimez, Matthias Schorn, Viviane Hagner, Gabor Boldoczki, Kristin von der Goltz.
br
br
|                         Sophie L&uuml;cke performed with Andr&aacute;s Schiff, Gidon Kremer, Yuri Bashmet and Tatjana Grindenko as part of &bdquo;Chamber music connects the world 2010&ldquo; in Kronberg.
br
br
|                         She is a regular guest at chamber music festivals like Mecklenburg Vorpommern and Davos. She performed with the Danish String, Doric String, Notos and Aris Quartet, as well as the Trio Vivente and Monet Wind Quintett.
br
br
|                         As a soloist she performed with the Baden-Baden Philharmonic (S.Koussewitzky and F.Schubert), the C.P.E. Bach Orchestra (S.Koussewitzky), the Chamber Orchestra Wernigerode (L.E.Larsson), the LJO Berlin (E.Tubin), the Siemens Orchestra Munich (N.Rota) and most recently the Ensemble Zeitsprung (E.Rautavaara).
br
br
|                         In addition, she was awarded the soloist scholarship of the Hans and Eugenia J&uuml;tting Foundation and supported by the Ann Driver Trust.
br
br
|                         From 2011 to 2013 Sophie was principal Bass in the Munich Chamber Orchestra and in the orchestra &bdquo;Les Si&egrave;cles&ldquo; in Paris (conductor: F.-X. Roth).
br
br
|                         She taught as a substitute at the University of Bern in 2013/2014 and also gave masterclasses in Hong Kong, Pyongyang, S&atilde;o Paulo and Mexico City.
br
br
|                         In particular, the comprehension of a totality in art, the joining of many interesting parts into a whole, employs Sophie. So she is a founding member of the young baroque ensemble &bdquo;Concerto M&uuml;nchen&ldquo; as well as  &bdquo;Artist in residence der Tage der neuen Musik&ldquo; in Bamberg 2017 and planning many more future projects in various forms &mldr;
br
br
|                         Since 2014 she is Principal Double Bassist at the Staatstheater am G&auml;rtnerplatz in Munich.