|Sophie L&uuml;cke erhielt ihre ersten Kontrabassstunden bei Andreas
| Nettels in Wernigerode und als Jungstudentin bei Stephan Petzold
| in Berlin. Sp&auml;ter studierte Sie bei Janne Saksala an der
| Hochschule f&uuml;r Musik in Berlin und bei Rinat Ibragimov in der
| Guildhall School of Music and Drama in London. Meisterkurse bei
| Esko Laine und David Sinclair, Anregungen durch Klaus Stoll, Nabil
| Shehata, Joel Quarrington und Evgeny Kolosov, sowie Kurse in
| historischer Auff&uuml;hrungspraxis bei Kristin von der Goltz und
| Reinhard Goebel erweiterten ihre musikalischen Ansichten. 
br
br
| Mit 19 Jahren wurde Sophie Akademistin im
|               Rundfunk-Sinfonie-Orchester Berlin und von 2008 bis 2010 war sie
|               Stipendiatin der Karajan-Akademie der Berliner Philharmoniker.
|               Neben ihrer T&auml;tigkeit als Gast Solo-Bass (Staatsoper M&uuml;nchen,
|               Mahler Chamber Orchester, Kammerphilharmonie Bremen, Ensemble
|               Resonanz, Klangforum Wien, Kammerorchester Basel, Les Dissonances,
|               European Philharmonic of Switzerland, Royal Northern Sinfonia,
|               Scottish Chamber Orchestra u.v.a.) widmet sie sich intensiv der
|               Kammermusik und hat mit Pers&ouml;nlichkeiten wie Heinz Holliger, Kit
|               Armstrong, Julien Pregardien, Esther Hoppe, Alexej Gerassimez,
|               Matthias Schorn, Viviane Hagner, Gabor Boldoczki, Kristin von der
|               Goltz u.a. zusammengearbeitet. Im Rahmen von &bdquo;Chamber music
|               connects the world 2010&ldquo; musizierte Sophie L&uuml;cke gemeinsam mit
|               Andr&aacute;s Schiff, Gidon Kremer und Yuri Bashmet. Sie ist regelm&auml;ssig
|               Gast bei Kammermusik Festivals wie in Mecklenburg Vorpommern und
|               Davos und trat sowohl mit dem Danish String -, Doric String-,
|               Notos und Aris Quartet, als auch dem Trio Vivente auf.
br
br
|               Als Solistin konnte man sie mit den Baden-Badener Philharmonikern
|               (S.Koussewitzky und F.Schubert), dem C.P.E. Bach Orchester
|               (S.Koussewitzky), dem Kammerorchester Wernigerode (L.E.Larsson),
|               dem LJO Berlin (E.Tubin), dem Siemens Orchester M&uuml;nchen (N.Rota)
|               und zuletzt dem Ensemble Zeitsprung (E.Rautavaara) erleben. Von
|               2011 bis 2013 war Sophie Solokontrabassistin im M&uuml;nchener
|               Kammerorchester und im Orchestre &ldquo;Les Si&egrave;cles&rdquo; in Paris (Ltg:
|               F.-X.Roth).
br
br
|               An der Hochschule Bern unterrichtete sie vertretungsweise
|               2013/2014 und gab au&szlig;erdem Meisterkurse in Hongkong, Py&ouml;ngyang,
|               S&atilde;o Paulo und Mexico City.
br
br
|               Als Gr&uuml;ndungsmitglied im jungen Barock- Ensemble &bdquo;Concerto
|               M&uuml;nchen&ldquo; sowie &bdquo;der/gelbe/Klang&ldquo; , einem neuen (fusionierten)
|               Ensemble f&uuml;r Zeitgen&ouml;ssische Musik in M&uuml;nchen, lebt Sophie Ihre
|               Liebe f&uuml;r Alte sowie Neue Musik aus.
br
br
|               Seit der Saison 2014/15 ist sie Solokontrabassistin beim
|               Staatstheater am G&auml;rtnerplatz in M&uuml;nchen.
br
br
|               Ihr Instrument ist ein englischer Bass von William Forster aus dem
|               fr&uuml;hen 19. Jahrhundert.