#contact-us.contact-popup
    .contact-popup__content
        a.contact-popup__content--close(href='#concerts') &times;
        a.contact-popup__content--link(href='mailto:mail@sophieluecke.de') mail@sophieluecke.de
