.component__top-navbar-except-home
    .component__top-navbar-except-home--left

        h1.logo__brand.logo__brand--general SOPHIE LÜCKE
        h2.logo__subtext.logo__subtext--general kontrabass ° double bass


    .component__top-navbar-except-home--right
        .mobile-nav__nav-container
            .mobile-nav__bg
            .mobile-nav__button(tabindex='0')
                span#mobile-nav__icon-bar1.mobile-nav__icon-bar
                span#mobile-nav__icon-bar2.mobile-nav__icon-bar
                span#mobile-nav__icon-bar3.mobile-nav__icon-bar
            .mobile-nav__nav-content(tabindex='0')
                ul.mobile-nav__nav-content--ul
                    li.mobile-nav__nav-content--li
                        a.mobile-nav__nav-content--link.navlink-active--mobile-nav(href='https://iuriigav.github.io/Sophie-Lucke/') home
                    li.mobile-nav__nav-content--li
                        a.mobile-nav__nav-content--link(href='https://iuriigav.github.io/Sophie-Lucke/concerts.html') concerts
                    li.mobile-nav__nav-content--li
                        a.mobile-nav__nav-content--link(href='https://iuriigav.github.io/Sophie-Lucke/biography.html') biography
                    li.mobile-nav__nav-content--li
                        a.mobile-nav__nav-content--link(href='https://iuriigav.github.io/Sophie-Lucke/media-news.html') news
                    li.mobile-nav__nav-content--li
                        a.mobile-nav__nav-content--link(href='https://iuriigav.github.io/Sophie-Lucke/media-records.html') records
                    li.mobile-nav__nav-content--li
                        a.mobile-nav__nav-content--link(href='https://iuriigav.github.io/Sophie-Lucke/media-gallery.html') gallery
                    li.mobile-nav__nav-content--li
                        a.mobile-nav__nav-content--link(href='#contact-us') contact

        ul.component__top-navbar-except-home--right--navbar
            li.component__top-navbar-except-home--right--navbar--li.navlink-active
                a(href='https://iuriigav.github.io/Sophie-Lucke/') home
            li.component__top-navbar-except-home--right--navbar--li
                a(href='https://iuriigav.github.io/Sophie-Lucke/concerts.html') concerts
            li.component__top-navbar-except-home--right--navbar--li
                a(href='https://iuriigav.github.io/Sophie-Lucke/biography.html') biography
            li.component__top-navbar-except-home--right--navbar--li
                .component__top-navbar-except-home--right--navbar--li--dropdown
                    button.component__top-navbar-except-home--right--navbar--li--dropdown--btn--no-hover media
                    .component__top-navbar-except-home--right--navbar--li--dropdown--content
                        a(href='https://iuriigav.github.io/Sophie-Lucke/media-news.html') news
                        a(href='https://iuriigav.github.io/Sophie-Lucke/media-records.html') records
                        a(href='https://iuriigav.github.io/Sophie-Lucke/media-gallery.html') gallery
            li.component__top-navbar-except-home--right--navbar--li
                a(href='#contact-us') contact




















