
ul.hero__right__navbar
        li.hero__right__navbar--li.navlink-active
            a(href='https://iuriigav.github.io/Sophie-Lucke/') home
        li.hero__right__navbar--li
            a(href='https://iuriigav.github.io/Sophie-Lucke//concerts.html') concerts
        li.hero__right__navbar--li
            a(href='https://iuriigav.github.io/Sophie-Lucke//biography.html') biography
        li.hero__right__navbar--li
            .hero__right__navbar--li--dropdown
                button.hero__right__navbar--li--dropdown--btn--no-hover media
                .hero__right__navbar--li--dropdown--content
                    a(href='https://iuriigav.github.io/Sophie-Lucke//media-news.html') news
                    a(href='https://iuriigav.github.io/Sophie-Lucke//media-records.html') records
                    a(href='https://iuriigav.github.io/Sophie-Lucke//media-gallery.html') gallery
        li.hero__right__navbar--li
            a(href='#contact-us') contact